.component__cart {
  display: flex;
  flex-direction: column;
}

.cart__page {
  margin-top: 3%;
  text-align: center;
  font-size: 2rem;
  font-weight: 300;
}

.empty__cart__message {
  text-align: center;
  font-size: 3rem;
  font-weight: 200;
  padding: 10%;
  display: block;
  margin: auto;
  width: 40%;
  margin-top: 10%;
  border-radius: 30px;
  background-color: whitesmoke;
}

.cart__list__buttons {
  margin: 1%;
  display: flex;
  justify-content: center;
}

.checkout__select__all,
.checkout__remove__all {
  width: 150px;
  height: 50px;
  font-size: larger;
  border-radius: 10px;
  border: none;
  outline: none;
  background-color: rgb(105, 103, 103);
  color: white;
  cursor: pointer;
}

.checkout__select__all:hover,
.checkout__remove__all:hover {
  background-color: rgb(49, 47, 47);
}

.checkout__remove__all {
  margin-left: 2%;
}

.cart__list {
  display: flex;
  flex-direction: column;
  justify-content: left;
  margin: 1%;
  width: 65%;
}

.cart__item__card {
  display: flex;
  padding: 2%;
  margin: 1% 0% 1%;
  border-radius: 20px;
  background-color: white;
}

.cart__checkbox__img {
  display: flex;
  flex: 0.3;
}

.cart__item__details {
  display: flex;
  flex-direction: column;
  flex: 0.7;
  padding: 2%;
}

.cart__price__qty__controls {
  display: flex;
  align-items: center;
}

.qty__control {
  display: flex;
  flex-direction: column;
}

.cart__price__qty__controls > * {
  margin: 1%;
}

.cart__item__name {
  font-size: 1.5rem;
  font-weight: 400;
}

.cart__item__qty {
  height: 40px;
  width: 80px;
  font-size: x-large;
}

.cart__item__price {
  font-size: 2rem;
  font-weight: 400;
}

.cart__item__checkbox {
  width: 20px;
  height: 20px;
}

.cart__item__img {
  width: 90%;
  height: 90%;
}

.cart__wishlist__button {
  width: 150px;
  height: 30px;
  font-size: medium;
  margin-left: 5%;
}

.cart__remove__button {
  width: 200px;
  height: 30px;
  font-size: medium;
  border-radius: 10px;
  border: none;
  outline: none;
  background: linear-gradient(180deg, #f0c14b, #ad841d);
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.cart__remove__button:hover {
  background: linear-gradient(180deg, #ad841d, #f0c14b);
  transition: all 0.3s ease-in-out;
}
