.pagination {
  width: 20%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.pagination__section {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: auto;
  margin-top: 2%;
  margin-bottom: 2%;
}

.pagination__btn__previous,
.pagination__btn__next {
  width: 80px;
  height: 50px;
  border: none;
  outline: none;
  font-size: larger;
  border-radius: 10px;
  background-color: rgb(118, 118, 118);
  color: white;
  font-weight: 400;
  cursor: pointer;
}

.pagination__btn__previous:hover,
.pagination__btn__next:hover {
  background-color: rgb(43, 42, 42);
}
