.component__products {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}

.products__list {
  display: flex;
  justify-content: space-evenly;
}

.product__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 20%;
  height: 40%;
  border-radius: 10px;
  background-color: white;
  overflow: hidden;
}

.product__card__image {
  width: 100%;
  height: 40%;
  border-radius: 10px;
  transition: all 0.3s ease-in-out;
  object-fit: contain;
  max-height: 400px;
}
.product__card__image:hover {
  transform: scale(0.95);
}

.product__card:hover {
  cursor: pointer;
}

.pagination__section {
  display: flex;
  justify-content: center;
}

.active__category__display {
  text-align: center;
  font-size: 2rem;
  font-weight: 200;
}

.no__results__found {
  text-align: center;
  margin-top: 15%;
  font-size: xx-large;
  font-weight: lighter;
}

.product__card__name {
  margin: 3%;
  font-weight: 300;
}

.product__card__price {
  margin: 4%;
  font-weight: 400;
}
